@CHARSET "UTF-8";
body
{
	background-color:#000000;
	color: #ffffff;
	font-family: "Arial", Arial, sans-serif;
}
a
{
	color: #ffffff;
	text-decoration: none;
}
a:hover
{
	color: #1fa86e;
}
#headerContent
{
   position: fixed;
   top: 0;
   left: 0;
   padding-left:20px;
   width: 100%;
   height:45px;
   background-color:#1fa86e;
}

#image-backing
{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity:0;
   animation: fadeInSlight 3s ease-in forwards;
   background-color: #001100;
   background-image: url(../images/generic_lake.jpg);
   z-index: -100;
}
#network-graph
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
#negativeSpace
{
	z-index: -1;
	position: fixed;
	left: 5%;
	right: 450px;
	top: 45px;
}
#graph-navigation-bar
{
	overflow: hidden;
	right: 0;
	float: left;
	top:10%;
	height: 50px;
	background-color: #444444;
	animation: fadeIn 1s forwards;
	text-align: left;
	
}
.buttonholder
{
	padding: 20px;
}
#negativeSpace-reverse
{
	position: fixed;
	right: 2%;
	top: 45px;
	text-align: center;
}
#titleHeader
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#absoluteWrapper
{
	position: fixed;
	top: 35%;
	right: 5%;
	height: 50%;
	text-align: center;
	margin-right: 0;
	
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: FadeEnterUp150px;
}
#loginForm
{
	border-radius:2px;
	background-color: #efefef;
	table-layout: fixed;
	width: 380px;
	height: 520px;
	line-spacing: 1;
}
.textField:focus
{
   outline: none;
}
.textField
{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.43;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
}
.animatedButton
{
  overflow-x: hidden;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #444444;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: restoreScale;
}

.symbolButton
{
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #444444;
  padding: 0;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 0px;
  border-left: 0.25px solid grey;
}



.buttonDivider
{
  font-family: Arial;
  color: #bbbbbb;
  font-size: 20px;
  background: #555555;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  font-style: bold;
  margin: 0;
  
}

.animatedButton:focus
{
	outline: none;
}
.animatedButton:hover
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: hoverScale;
    background: #333333;
}
.hoverableText:focus
{
	outline: none;
}
.hoverableText:hover
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: hoverScale;
}
.hoverableText
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: restoreScale;
}
@keyframes slideRightToLeft {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -50%;
  }
}
@keyframes FadeEnterUp150px
{
0%{
 opacity: 0;
 transform: 0;
 }
100%{
opacity: 1;
transform: translateY(-150px);
}
}

@keyframes fadeInFromTop
{
	0%{opacity: 0; transform: translateY(-25px);}
	100%{opacity: 1;transform: translateY(0);}
}
@keyframes fadeIn
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes fadeOut
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
@keyframes fadeInFromRight
{
	0%{opacity: 0; transform: translateX(50px);}
	100%{opacity: 1;transform: 0;}
}
@keyframes fadeInSlight
{
	0%{opacity: 0;}
	100%{opacity: 0.2;}
}

@keyframes hoverScale
{
	0%{transform: scale(1);}
	100%{transform: scale(1.01);}
}

@keyframes restoreScale
{
	0%{transform: scale(1.01);}
	100%{transform: scale(1);}
}
@keyframes flyInLeft
{
	0%{transform: translateX(1000%);}
	100%{transform: translateX(0);}
}
@keyframes offscreenLeft
{
	0%{transform: translateX(0);}
	100%{transform: translateX(-100%);}
}
@keyframes backToScreenLeft
{
	0%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}
#database-graph
{
	right: 0;
	top: 45px;
	bottom: 0%;
	background-color:#111111;
	animation: fadeIn 2s;
}
#database-adjacent
{
	position: fixed;
	width: 300px;
	right: 0;
	top: 45px;
	bottom: 0;
	line-spacing: 1;
	background-color: #111111;
}
#database-adjacent-reverse
{
	position: fixed;
	width: 300px;
	left: 0;
	top: 45px;
	bottom: 0;
	line-spacing: 1;
	background-color: #444444;
}
#database-subfill
{
	width: 100%;
	margin: 0;
	line-spacing: 1;
}
