@CHARSET "UTF-8";
/*
	IMAGE NETWORK ROOT CSS FILE
	
	
	**ANIMATION DOCUMENTATION
	Usage: In JS, docElement.style.animation = "animation"
	Format: "<animation-name> <animation-duration> ease-out forwards"
	
	**ANIMATION NAMES
	scaleIn - animates the object from scale(0) to scale(1)
	scaleOut - animates the object from scale(1) to scale(0)
	fadeInFromTop - animates the object from opacity(0) to opacity(1) with vertical offset
	hoverScale - animates the object from scale(1) to scale(1.01) (for buttons)
	restoreScale - animates the object from scale(1.01) to scale(1) (for buttons)
	flyInLeft - animates the object in from right off-screen to its current position
	offScreenLeft - animates the object from its current position to left adjacent off-screen
	backToScreenLeft - animates the object from left off-screen to its current position
	
	***BUTTON CLASS DOCUMENTATION***
	Usage: Assign class to your button, div or input type.
	NOTE: does not format properly for file input.
	
	*To override the button color with the standard background,inherit the background-color
	**BUTTON CLASSES:
		animatedButton - standard gray button with moderate scaling
		buttonDivider - greyed out button - use to logically divide buttons
	**
	
	***FORMATTING IDs***
	Usage: Assorted divs used to format data on screen. 
	Best not to override the formatting on these.
	
	**IDs:
		database-adjacent - absolute region for sidebar formatting
		database-subfill - fill region for sidebar buttons
		database-adjacent-reverse - fill region for 
		negativeSpace - open space on login.html for splash text
		negativeSpace-reverse - reversed orientation
		image-backing - creates a background-image overlay.
		loginForm, absoluteWrapper - login formatting
	**
	
	**SIGMA IDs
		nodeDetails - popup menu that displays a node's data
		network-graph - maps the sigma graph to the background
		database-graph - maps the sigma graph to a relative size
		graph-navigation-bar - searchbar for the graph navigation region
	
	
*/
:root
{
	--main-color: #000000;
	--text-color: #ffffff;
	--hyperlink-color: #1fa86e;
	--unclickable-color: #bbbbbb;
	--header-bar-color: #1fa86e;
	--button-color: #444444;
	--button-hover-color: #333333;
	--button-divider-color: #555555;
	--widget-background-color: #444444;
}
body
{
	background-color:var(--main-color);
	color: var(--text-color);
	font-family: "Arial", Arial, sans-serif;
}
a
{
	color: var(--text-color);
	text-decoration: none;
}
a:hover
{
	color: var(--hyperlink-color);
}
#nodeDetails
{
	text-align: left;
	background-color: var(--widget-background-color);
	color: #ffffff;
	padding: 16px;
	border-radius:2px;
	table-layout: fixed;
	width: 380px;
	height: 520px;
	line-spacing: 1;
}
#headerContent
{
   position: fixed;
   top: 0;
   left: 0;
   padding-left:20px;
   width: 100%;
   height:45px;
   background-color:var(--header-bar-color);
}

#image-backing
{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity:0;
   animation: fadeInSlight 3s ease-in forwards;
   background-color: #001100;
   background-image: url(../images/generic_lake.jpg);
   z-index: -100;
}
#network-graph
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
#negativeSpace
{
	z-index: -1;
	position: fixed;
	left: 5%;
	right: 450px;
	top: 45px;
}
#graph-navigation-bar
{
	overflow: hidden;
	right: 0;
	float: left;
	top:10%;
	height: 50px;
	background-color: var(--widget-background-color);
	animation: fadeIn 1s forwards;
	text-align: left;
	
}
.buttonholder
{
	padding: 20px;
}
#negativeSpace-reverse
{
	position: fixed;
	right: 2%;
	top: 45px;
	text-align: center;
}
#titleHeader
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#absoluteWrapper
{
	position: fixed;
	top: 35%;
	right: 5%;
	height: 50%;
	text-align: center;
	margin-right: 0;
	
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: FadeEnterUp150px;
}
#loginForm
{
	border-radius:2px;
	background-color: #efefef;
	table-layout: fixed;
	width: 380px;
	height: 520px;
	line-spacing: 1;
}
.textField:focus
{
   outline: none;
}
.textField
{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.43;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
}
.animatedButton
{
  overflow-x: hidden;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background-color: var(--button-color);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: restoreScale;
}

.symbolButton
{
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: var(--button-color);
  padding: 0;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  border-radius: 0px;
  border-left: 0.25px solid grey;
}



.buttonDivider
{
  font-family: Arial;
  color: #bbbbbb;
  font-size: 20px;
  background: var(--button-divider-color);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  font-style: bold;
  margin: 0;
  
}

.animatedButton:focus
{
	outline: none;
}
.animatedButton:hover
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: hoverScale;
    background: var(--button-hover-color);;
}
.hoverableText:focus
{
	outline: none;
}
.hoverableText:hover
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: hoverScale;
}
.hoverableText
{
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	animation-name: restoreScale;
}
@keyframes slideRightToLeft {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -50%;
  }
}
@keyframes FadeEnterUp150px
{
0%{
 opacity: 0;
 transform: 0;
 }
100%{
opacity: 1;
transform: translateY(-150px);
}
}

@keyframes fadeInFromTop
{
	0%{opacity: 0; transform: translateY(-25px);}
	100%{opacity: 1;transform: translateY(0);}
}
@keyframes fadeIn
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes scaleIn
{
	0%{transform: scale(0);}
	100%{transform: scale(1);}
}

@keyframes scaleOut
{
	0%{transform: scale(1);}
	100%{transform: scale(0);}
}
@keyframes fadeOut
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
@keyframes fadeInFromRight
{
	0%{opacity: 0; transform: translateX(50px);}
	100%{opacity: 1;transform: 0;}
}
@keyframes fadeInSlight
{
	0%{opacity: 0;}
	100%{opacity: 0.2;}
}

@keyframes hoverScale
{
	0%{transform: scale(1);}
	100%{transform: scale(1.01);}
}

@keyframes restoreScale
{
	0%{transform: scale(1.01);}
	100%{transform: scale(1);}
}
@keyframes flyInLeft
{
	0%{transform: translateX(1000%);}
	100%{transform: translateX(0);}
}
@keyframes offscreenLeft
{
	0%{transform: translateX(0);}
	100%{transform: translateX(-100%);}
}
@keyframes backToScreenLeft
{
	0%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}
#database-graph
{
	right: 0;
	top: 45px;
	bottom: 0%;
	background-color:#111111;
	animation: fadeIn 2s;
}
#database-adjacent-reverse
{
	transform: translateX(-100%);
	position: fixed;
	width: 300px;
	left: 0;
	top: 45px;
	bottom: 0;
	line-spacing: 1;
	background-color: var(--button-color);
	z-index: 100;
}
#database-subfill
{
	width: 100%;
	margin: 0;
	line-spacing: 1;
}
.ICWidget
{
	padding: 10px;
	width: 300px;
	background-color: #222222;
	border-radius: 6px
}
